<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title %>
    </title>
    <script src="/js/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="m-3">
        <button type="button" class="btn btn-outline-primary" onclick="showHighScore()">Show Students who score
            high</button>
        <button type="button" class="btn btn-outline-secondary" onclick="showHighScoreSubj()">Show students high score
            each subject</button>
        <button type="button" class="btn btn-outline-success" onclick="showMarksBtw()">show students who score marks in
            Maths </button>
        <button type="button" class="btn btn-outline-info" onclick="ShowMyReport()">Get Your Report</button>
        <a href="/list" class="btn btn-outline-warning">Previous page</a>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <div
        style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;">
    </div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script>
        var options = {
            title: {
                text: "Student Report",
            },
            subtitles: [
                {
                    text: "As of November, 2017",
                },
            ],
            animationEnabled: true,
        }
        function showHighScore() {
            $.ajax({
                type: "get",
                url: "/api/marks/getWithHighScore",
                headers: {
                    Authorization:
                        localStorage.getItem("id"),
                },
                success: (res) => {
                    options["data"] = [
                        {
                            type: "pie",
                            startAngle: 40,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [
                                { y: res.Noofstudents, label: "NoOfStudentGT400" },
                                { y: res.notFrom, label: "NoOfStudentLT400" },
                            ],
                        },
                    ]
                    $("#chartContainer").CanvasJSChart(options);
                }
            })
        }
        function showHighScoreSubj() {
            $.ajax({
                type: "get",
                url: "/api/marks/getWithHighmarks",
                headers: {
                    Authorization:
                        localStorage.getItem("id"),
                },
                success: (res) => {
                    options["data"] = [
                        {
                            type: "pie",
                            startAngle: 40,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [
                                { "y": res.Eqto90, "label": "Marks equal to 90" },
                                { "y": res.notEqTo90, "label": "Marks not equal to 90" },
                            ]
                        },
                    ]
                    $("#chartContainer").CanvasJSChart(options);
                }
            })

        }
        function showMarksBtw() {
            $.ajax({
                type: "get",
                url: "/api/marks/getstudentBtw?minmark=70&maxmark=95",
                headers: {
                    Authorization:
                        localStorage.getItem("id"),
                },
                success: (res) => {
                    console.log(res);
                    const noofstudent = res["No of students"]
                    const response1 = res["List of students"]
                    options["data"] = [
                        {
                            type: "pie",
                            startAngle: 40,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [],
                        },
                    ]
                    response1.forEach(i => {
                        options["data"][0]["dataPoints"].push({ "y": i.Subjects.marks, "label": i.Student[0].StudentName })
                    });
                    $("#chartContainer").CanvasJSChart(options);
                }
            })
        }
        function ShowMyReport() {
            $.ajax({
                type: "get",
                url: "/api/marks/geMarks",
                headers: {
                    Authorization:
                        localStorage.getItem("id"),
                },
                success: (res) => {
                    const { StudentReportCard } = res
                    options["data"] = [
                        {
                            type: "pie",
                            startAngle: 40,
                            toolTipContent: `<b>${StudentReportCard[0].student_id.StudentName}</b>:${StudentReportCard[0].satus} `,
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [
                            ],
                        },
                    ]
                    StudentReportCard[0].Subjects.map((i) => {
                        options["data"][0]["dataPoints"].push({ y: i.marks, label: i.name })
                    })
                    $("#chartContainer").CanvasJSChart(options);
                }
            })
        }

    </script>
</body>

</html>